<!-- <span *ngFor="let type of fueltrackers" (click)="selectedType = type">{{fueltrackers}} | </span> -->
<!-- <div #addFuelTrackerForm *ngIf="add && !listFuelTrackerForm"> -->
<div #addFuelTrackerForm *ngIf="add ">
    <h3> Add </h3>
    <form  #addForm="ngForm">
    <input type="number" name="gallons" placeholder="Gallons" ngModel/>
    <input type="number" name="pricePerGallon" placeholder="Price Per Gallon" ngModel/>
    <input type="number" name="totalPrice" placeholder="Total Price" ngModel/>
    <input type="number" name="estimatedMiles" placeholder="Estimated Miles" ngModel/>
    <input type="number" name="odometerReading" placeholder="Odometer Reading" ngModel/>
    <input type="number" name="vehicleId" placeholder="Vehicle" ngModel/>
    <button (click)= "addFuelTracker(addForm)">Save</button>
  </form>
  <button (click)="add = null;"> Back </button>
</div>
<div #listFuelTrackerForm *ngIf="!selectedFuelTracker">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id:</th>
        <th>Date:</th>
        <th>Gallons:</th>
        <th>Price/Gallon:</th>
        <th>Total Purchase Price:</th>
        <th>Estimated Miles:</th>
        <th>Odometer Reading:</th>
        <th>Vehicle:</th>
        <th>Cost Per Estimated Mile:</th>

        <button (click)="setAddFuelTracker(fueltrackers )" class="btn btn-primary">Add New Fuel Entry:</button>

      </tr>
    </thead>
    <hr>
    <tbody>
      <tr *ngFor="let fuelTracker of fueltrackers " (click)="setSelected(fuelTracker)" (click)="selectedFuelTracker = fuelTracker; mode = 'detail'">
        <!-- <tr *ngFor="let fuelTracker of fueltrackers " > -->
        <td >{{ fuelTracker.id }}</td>
        <td>{{ fuelTracker.gallons }}</td>
        <td>{{ fuelTracker.date }}</td>
        <td>{{ fuelTracker.pricePerGallon }}</td>
        <td>{{ fuelTracker.totalPrice }}</td>
        <td>{{ fuelTracker.estimatedMiles }}</td>
        <td>{{ fuelTracker.odometerReading }}</td>
        <td>{{ fuelTracker.vehicle["id"] | json}} </td>
        <td>{{ fuelTracker.vehicle["id"]/fuelTracker.estimatedMiles | json}} </td>

        <td>
          <!-- <img [src]="poke.img" /> -->

        </td>
      </tr>
    </tbody>
  </table>
</div>
<div #showFuelTrackerForm *ngIf="mode === 'detail' && selectedFuelTracker">
  <h3>Detail</h3>
  Id: {{ selectedFuelTracker.id }} <br>
  Gallons: {{ selectedFuelTracker.gallons }} <br>
  Price Per Galoon: {{ selectedFuelTracker.pricePerGallon }} <br>
  Total Purchase Price: {{ selectedFuelTracker.totalPrice }} <br>
  Estimated Price: {{ selectedFuelTracker.estimatedPrice }} <br>
  Odometer Reading: {{ selectedFuelTracker.odometerReading }} <br>
  Vehicle: {{ selectedFuelTracker.vehicle.id | json  }} <br>
  Vin: {{ selectedFuelTracker.vehicle.vin | json  }} <br>
  Make: {{ selectedFuelTracker.vehicle.make | json  }} <br>
  Model: {{ selectedFuelTracker.vehicle.model | json  }} <br>
  Year: {{ selectedFuelTracker.vehicle.year | json  }} <br>
  <button (click)="deleteFuelTracker(selectedFuelTracker)" class="btn btn-danger">Delete</button>
  <button (click)="setEditFuelTracker()" class="btn btn-primary">Edit</button>
  <button (click)="goBack()" class="btn btn-dark">Back</button>
</div>

<!-- <div #updateFuelTrackerForm *ngIf="mode === 'detail' && !selectedFuelTracker"> -->
<div #updateFuelTrackerForm *ngIf="edit">
  <h3>Edit</h3>
  <form >
    <input type="hidden" name="id" placeholder="id" [(ngModel)]="edit.id" />
    <input type="number" name="gallons" placeholder="gallons" [(ngModel)]="edit.gallons" />
    <input type="number" name="pricePerGallon" placeholder="pricePerGallon" [(ngModel)]="edit.pricePerGallon" />
    <input type="number" name="totalPrice" placeholder="totalPrice" [(ngModel)]="edit.totalPrice" />
    <input type="number" name="estimatedMiles" placeholder="estimatedMiles" [(ngModel)]="edit.estimatedMiles" />
    <input type="number" name="odometerReading" placeholder="odometerReading" [(ngModel)]="edit.odometerReading" />
    <input type="number" name="vehicle" placeholder="vehicle" [(ngModel)]="edit.vehicle" />


    <button (click)="updateFuelTracker()" class="btn btn-primary">save</button>
    <button (click)='this.selected = null'>Go Back</button>
  </form>
  <button (click)="edit = null; selected= null;"></button>
</div>


